<h1>Your Profile</h1>

<%= @profile.username %>
<%= @profile.email %>
<%= @profile.shouts.each do |s| %>
<ul>
  <li><%= link_to "#{s.title}" %></li>
</ul>
<% end %>

<%= link_to  %>
<%= link_to "Back to Shouts!", profile_shouts_path(@profile) %>

<%= link_to "Edit Profile", edit_profile_path(@profile) %>