<h1>Edit Your Shout</h1>

<div class="box-shout-edit">
<%= form_for [@profile, @shout] do |s| %>

<%= s.collection_select(:category_id, @categories, :id, :category, {:prompt => false}) %> 

<%= s.text_field :title %>
<%= s.text_field :time %>
<%= s.text_field :location %>
<%= s.text_area :description %>
</div>
<span id= "submit-shout-edit"><%= s.submit "Update Your Shout" %></span>
<% end  %>

<span id="delete-shout"><%= button_to "X", profile_shout_path(@profile, @shout), :method => :delete %></span>

<%= link_to "Back to Shouts!", profile_shouts_path(@profile) %>

