<h1>Edit Your Shout</h1>
<%= form_for [@profile, @shout] do |s| %>

<%= s.collection_select(:category_id, @categories, :id, :category, {:prompt => false}) %> 

<%= s.text_field :title %>
<%= s.text_field :time %>
<%= s.text_field :location %>
<%= s.text_area :description %>
<%= s.submit "Update Your Shout" %>
<% end  %>

<%= button_to "X", profile_shout_path(@profile, @shout), :method => :delete %>

<%= link_to "Back to Shouts!", profile_shouts_path(@profile) %>

