<h1 class="shout-index">Upcoming Shouts!</h1>
<%= form_tag profile_shouts_path, method: :get do %>
<span id="dropdown-shout-index"><%= select_tag :category_id, options_from_collection_for_select(@categories, :id, :category, @category_id) %></span>
<span id="submit-shout-index"><%= button_tag "Filter by Category", class: "button" %></span>
<% end %>

<%= form_tag profile_shouts_path, method: :get, style: "display: inline;" do %>
  <span id="view-all"><%= button_tag "View All Shouts", class: "button" %></span>
<% end %>


<% @shouts.each do |shout| %>
<div class="shouts-index">
  <p><%= link_to "#{shout.title}", "/profiles/#{@profile.id}/shouts/#{shout.id}"%></p>
</div>
<% end %>


<footer>
  <span id="about"><%= link_to "About Us", '/site/about' %></span>
  <span id="profile"><%= link_to "View #{@profile.username}'s Profile", profile_path(@profile.id) %></span>
  <span id="create"><%= link_to "Create Shout!", new_profile_shout_path %></span>
  <span id="logout"><%= link_to "Logout", logout_path, method: :post %></span> 
</footer>
