<h1>Upcoming Shouts!</h1>

<%= form_tag profile_shouts_path, method: :get do %>
<%= select_tag :category_id, options_from_collection_for_select(@categories, :id, :category, @category_id) %>
<%= submit_tag "Filter by Category" %>
<% end %>



<ul class="shouts">
<% @shouts.each do |shout| %>
<li><%= link_to "#{shout.title}", "/profiles/#{@profile.id}/shouts/#{shout.id}"%></li>
<% end %>
</ul>



<%= link_to "About Us", '/site/about' %>

<%= link_to "View #{@profile.username}'s Profile", profile_path(@profile.id) %>

<%= link_to "Create Shout!", new_profile_shout_path %>

<%= link_to "Logout", logout_path, method: :post %> 
