<h1>Shout It!</h1>
<% if @shout.errors.any? %>
  <% @shout.errors.full_messages.each do |error|  %>
    <p><font color="red">
    <%= error %>
    </font></p> 
  <% end %>
<% end %>

<%= form_for([@profile, @shout], url: profile_shouts_path) do |f|%>
	
	<%= f.label :Category %><br />
  <%= f.collection_select(:category_id, @categories, :id, :category, {:prompt => false}) %> 

  <%= f.label :title  %>
  <%= f.text_field :title, placeholder: "Title...", autofocus: true %>

  <%= f.label :time %>


  <%= f.text_field :time, placeholder: "When..."  %>



  <%= f.label :location %>
  <%= f.text_field :location, placeholder: "Address, City, State..." %>

  <%= f.label :description %>
  <%= f.text_area :description  %>


  <%= f.submit("Shout Out!", class: "btn btn-primary") %>
<% end %>
<br>
<%= link_to "Back to Shouts Page", :back %>

