<h1><%= @shout.title %></h1>
<div class="box-shout-show">
  <h3>Time: <%= @shout.time %></h3>
  <h3>Location: <%= @shout.location %></h3>

  <iframe
    width="400"
    height="350"
    frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?key=<%= ENV["places_key"] %>
      &q=<%= @shout.location %>,<%= @shout.city %>+<%= @shout.state %>">
    }
  </iframe>
  <h3>Description:
  <p><%= @shout.description %></p></h3>
</div>
<footer>
  <%= link_to "Back to Shouts Page", :back %>
  <%= link_to "Edit Your Shout", edit_profile_shout_path %>
</footer>

