<h1>Edit Your Profile</h1>
<div class="alert">

</div>
<%= form_for @profile do |p| %>
Username:
<%= p.text_field :username %>
Email: 
<%= p.text_field :email %>
Password: 
<%= p.text_field :password %>
<%= p.submit "Update Your Profile" %>
<% end  %>

<%= button_to "Delete", profile_path(@profile), :method => :delete  %>

<%= link_to "Back to Shouts!", profile_shouts_path(@profile) %>
