<h1>Create New Profile </h1>

<div class="alert">
<% flash.each do |key, value| %>
  <% if key == "error" %>
    <%= content_tag :div, value, class: "text-center_alert_alert-warning" %>
  <% elsif key == "alert" %>
    <%= content_tag :div, value, class: "text-center_alert_alert-danger" %>
  <% end %>
<% end %>
</div>

<%= form_for(@profile, url: profiles_path, method: "post") do |f|%>


  <%= f.label :username  %>
  <%= f.text_field :username, placeholder: "Name...", autofocus: true %>

  <%= f.label :email %>
  <%= f.text_field :email, placeholder: "Email..." %>


  <%= f.label :password %>
  <%= f.password_field :password, placeholder: "Password..."  %>

  <%= f.label :phone_number %>
  <%= f.text_field :phone_number %>

  
  <%= f.label(:notification, "Notify me about new shouts!") %>
  <%= f.check_box(:notification) %>

  <%= f.submit("Signup", class: "btn btn-primary") %>
</p>
  <%= link_to "Have an account already? Log in here", site_login_path %>
<% end %>
