<h1>Create New Profile </h1>

<% if @profile.errors.any? %>
  <% @profile.errors.full_messages.each do |error| %>
    <p class = "text-danger"><%= error %></p>
  <% end %>
<% end %>

<%= form_for(@profile, url: profiles_path, method: "post") do |f|%>


  <%= f.label :username  %>
  <%= f.text_field :username, placeholder: "Name...", autofocus: true %>

  <%= f.label :email %>
  <%= f.text_field :email, placeholder: "Email..." %>


  <%= f.label :password %>
  <%= f.password_field :password, placeholder: "Password..."  %>


  <%= f.submit("Signup", class: "btn btn-primary") %>
</p>
  <%= link_to "Have an account already? Log in here", site_login_path %>
<% end %>
