<h1>Here's <%= @profile.username%>'s Shouts!</h1>


<ul>
<% @shouts.each do |shout| %>
<li><%= link_to "#{shout.title}", "/profiles/#{@profile.id}/shouts/#{shout.id}"%></li>
<% end %>
</ul>

<!-- Create link to view individual's profile -->

<!-- to log out, the session id will need to be destroyed -->

<%= link_to "About Us", '/site/about' %>

<%= link_to "View #{@profile.username}'s Profile", profile_path(@profile.id) %>

<%= link_to "Create Shout!", new_profile_shout_path %>
