<h1>Welcome to ShoutOut!</h1>
<h3>Let's get you started</h3>

<%= form_tag profiles_path(:id)  do %>

  <%= label_tag(:username)%>
  <%= text_field_tag(:username, params[:profile], autofocus: true)%>


  <%= label_tag(:password)%>
  <%= password_field_tag(:password)%>

  <%= submit_tag("Log in", class: "btn btn-primary") %>


<% end %>

<h3>Are you new? Let's get you a profile!</h3>
<%= link_to "New Profile", new_profile_path %>

<br><br>
<%= link_to "About Us", '/site/about' %>



