<h1>Welcome to ShoutOut!</h1>
<h3>Let's get you started</h3>


<%= form_tag(site_login_path) do %>

  <%= label_tag(:username)%>
  <%= text_field_tag(:username, params[:username], autofocus: true)%>


  <%= label_tag(:password)%>
  <%= password_field_tag(:password)%>

  <%= submit_tag("Log in", class: "btn btn-primary") %>

<% end %>

<h3>Are you new? Let's get you a profile!</h3>
<%= link_to "New Profile", profile_new_path %>

