<div class = "alerts">
<% flash.each do |key, value| %>
  <% if key == "notice" %>
    <%= content_tag :div, value, class: "text-center_alert_alert-warning" %>
  <% elsif key == "alert" %>
    <%= content_tag :div, value, class: "text-center_alert_alert-danger" %>
  <% end %>
<% end %>
</div>

<div class="login_box">
  <%= form_tag login_path  do %>
  <p>
    <%= text_field_tag(:username, params[:profile], placeholder: " Enter Your Username", autofocus: true,)%>
  </p>
  <p>
    <%= password_field_tag(:password, nil, placeholder: " Password")%>
  </p>
  <p>
    <%= submit_tag('Log in', class: 'login_button') %>
  <% end %>
  </p>

  <p>
    <%= link_to "Sign Up", new_profile_path %>
  </p>
  <p>
    <%= link_to "About Us", '/site/about' %>
  </p>

</div>
