<!DOCTYPE html>
<html>
<head>
<title>ShoutOut!</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <div class = "header">
    <h1 class="shoutout">ShoutOut!</h1>
  </div>
</header>

<% flash.each do |key, value| %>
  <% if key == "error" %>
    <%= content_tag :div, value, class: "text-center_alert_alert-warning" %>
  <% elsif key == "alert" %>
    <%= content_tag :div, value, class: "text-center_alert_alert-warning" %>
  <% end %>
<% end %>


<%= yield %>

</body>
</html>
